<h1>Scrabble</h1>

<p>Enter a number to get it spelled out</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="number">Sentence:</label>
    <input id="number" name="number" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info btn-lg">Get Score!</button>
</form>
